{% extends "base.html" %}
{% load bootstrap5 %}
{% block page_title %}Sensor List{% endblock %}


{% block content %}
<form action="" method="get">
    {% bootstrap_form form layout='horizontal' %}
    <button type="submit" class="btn btn-primary">Search</button>
    <a href="{% url 'velogest:list' %}" class="btn btn-primary">Cancel</a>
</form>
<br>
{% if sensors %}
<ul>
    {% for sensor in sensors %}
    <li><a href="{% url 'velogest:sensor_id' pk=sensor.id %}">{{ sensor }}</a></li>
    {% endfor %}
</ul>
{% else %}
<p>No sensors !</p>
{% endif %}

{% endblock content %}