{% extends "base.html" %}

{% load bootstrap5 %}

{% block page_title %}
{% if form.instance.pk %}
    Modify sensor {{ form.instance.name }}
{% else %}
    Add sensor
{% endif %}
{% endblock %}


{% block content %}

<form action="" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button type="submit" class="btn btn-primary">Submit</button>
    {% endbuttons %}
</form>

<a href="{% url 'velogest:list' %}">Go back to sensor list</a>

{% endblock content %}